*{
    font-family: "Anton";
    font-weight: 400;
    font-style: normal;
}

#result{
    text-align: end;
    padding: 25px;
    background-color: red;
    font-size: 50px;
    overflow-wrap: break-word;
}

#buttons{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: dodgerblue;
  padding: 25px;
}

.empty{
    background-color: dodgerblue;
    border-style: none;
}

.button-style{
    padding: 50px;
    margin-top: 2px;
    border-radius: 20px;
    font-size: 50px;
}